* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nova Flat";
}

span {
  font-family: "Nova Flat";
}

li {
  color: white;
  font-family: "Nova Flat";
  line-height: 40px;
}

@media screen and (min-width: 1650px) {
  
  .homeBody {
    background-image: url(./images/poster.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width:100%;
  }

  .headGradient {
    background: linear-gradient(0deg, #111111 0%, rgba(255, 255, 255, 0) 20%);
    height: 700px;
  }
  .challenge {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
  }
}

@media screen and (max-width: 1650px) {
  .homeBody {
    background-image: url(./images/poster_lower_original.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /* height:100%; */
  }

  .headGradient {
    background-image: url(./images/poster_head.jpeg) !important;
    background-position: center;
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40.08%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
  }

  .challenge {
    padding: 30px;
    background: linear-gradient(180deg, #111111 0%, rgba(255, 255, 255, 0) 20%);
  }
}

.homeChallenge {
  background-image: url(./images/homeChallengeBackground.png);
  background-size: cover;
  padding: 30px;
  width: 400px;
  min-width: 350px;
  min-height: 350px;
  height: 400px;
}

.homeTimeline {
  background-size: cover;
  padding: 20px;
  width: 320px;
  height: 230px;
}

.timelineDate {
  font-family: "Raider Crusader";
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
}

.timelineTitle {
  font-family: "Nova Flat";
  color: white;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.timelineContent {
  font-family: "Nova Flat";
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.hexagon {
  clip-path: polygon(25% 10%, 75% 10%, 95% 50%, 75% 90%, 25% 90%, 5% 50%);
  background-color: white;
  width: 253px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagonShadow {
  filter: drop-shadow(0px 0px 10px #7000ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainBody {
  padding: 30px;
  background-color: #323232;
  background-image: url(./images/background_pattern.png);
  min-height: 100vh;
  background-size: contain;
}

.mainTitle {
  display: flex;
  color: white;
  justify-content: center;
  margin: 30px;
  font-family: "Raider Crusader";
  font-size: 56px;
  text-align: center;
}

.secondaryTitle {
  color: white;
  font-family: "Raider Crusader";
  margin: 10px;
  margin-bottom: 20px;
}

.contactInput {
  outline: none;
  background: none;
  color: white;
  font-family: "Nova Flat";
  border-color: white;
  border-bottom: white;
  border: 0px;
  border-bottom-width: 1px;
  padding: 5px;
  border-style: inset;
  width: 80%;
  margin-bottom: 20px;
  line-height: 20px;
  font-size:inherit;
}

@font-face {
  font-family: "Raider Crusader";
  src: local("raidercrusader"),
    url("./fonts/raidercrusader.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Nova Flat";
  src: local("NovaFlat-Regular"),
    url("./fonts/NovaFlat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Thin"),
    url("./fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-ExtraLight"),
    url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Light"),
    url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Medium"),
    url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-SemiBold"),
    url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Bold"),
    url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-ExtraBold"),
    url("./fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Black"),
    url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

.challengeContent {
  padding-left: 15vw;
  padding-right: 15vw;
  color:#fff;
}

.challengeNumPicLeft {
    height:18vw;
    margin-top:50px;
    float:left;
}

.challengeNumPicRight {
  height:18vw;
  margin-top:50px;
  float:right;
}

.challengeContentLeft {
  margin-left: 16vw;
}

.challengeContentRight {
  margin-right: 16vw;
}

.challengeFindMore {
  float:right;
  margin:2vw;
  font-family: Nova Flat;
}

.notFoundContent {
  width:70vw;
  margin:2vw auto;
  font-family: Nova Flat;
}

.notFoundPic {
  float:left;
  width:5vw;
}

.notFoundTitle {
  line-height: 5vw;
  margin-left: 7vw;
  font-size: 5vw;
}

.notFoundDescription {
  font-size: 2.5vw;
  margin-top: 2vw;
  border-top: 0.3vw rgba(256,256,256,0.1) solid;
  padding-top: 3vw;
}

@media (max-width:768px) {
  .challengeTitle {
    font-size: 30px;
    margin:2vw;
  }

  .challengeSecondaryTitle {
    font-size: 24px;
    margin:10px auto;
  }

  .challengeContent {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .challengeNumPicLeft {
    float:none;
    margin-top: 2vw;
  }

  .challengeNumPicRight {
    float:none;
    margin-top: 2vw;
  }

  .challengeContentLeft {
    margin:0;
  }

  .challengeContentRight {
    margin:0;
  }

  .challengeFindMore {
    margin:20px;
  }

  .challengeTertiaryTitle {
    font-size: 18px;
  }

  .challenge span,.challenge li {
    font-size: 14px;
    line-height: 24px;
  }

  .notFoundContent {
    width:90vw;
  }

  .notFoundPic {
    width:40px;
  }

  .notFoundTitle {
    line-height: 40px;
    font-size: 25px;
    margin-left: 65px;
  }

  .notFoundDescription {
    font-size: 15px;
    margin-top: 20px;
  }
}